
.sub-title{
    font-size:0.88em;
    color:#901438;
    font-weight:bold;
    letter-spacing:3.5em;
    padding-bottom:6.25em;
    padding-top: 120px;
}
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import './pages/works.scss';
@import './pages/map.scss';