
.sub-title{
    font-size:0.88em;
    color:#901438;
    font-weight:bold;
    letter-spacing:3.5em;
    padding-bottom:6.25em;
}
@import './reset.scss';
@import './pages/works.scss';
@import './pages/map.scss';